
*{
    transition: all 0.3s ease-in-out 0
}

body{
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #000
}
ul{
    padding: 0 0
}
li{
    list-style: none
}
a{
    text-decoration: none
}
/*
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #c40000;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*/
nav::after{
    content: "";
    clear: both;
    display: block
}
a{
    text-decoration: none;
    color: #fff
}
.departments{
    background-color: #0a0a0a;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 40px
}
.departments ul a{
    color: #fff;
    width: 10%;
    float: left;
    font-size: 14px;
}
.departments img{
    margin-top: -14px
}
.departments ul li{
    display: block;
    margin-top: 11px
}
/* end nav */
/* start iphone nav */
.iphone{
    background-color: #141414;
    padding-top: 12px;
    padding-bottom: 35px;
    height: 92px;
    margin-top: -7px;
    float: left;
    width: 100%

}
.iphone ul{
        padding: 0px 151px;
}
.iphone ul li{
    text-align: center;
    display: block;
    float: left;
    width: 12.5%;
    position: relative

}
.iphone a{
    text-align: center
}
.iphone ul a p{
    font-size: 11px;
    line-height: 1.09091;
    font-weight: 400;
    letter-spacing: -.008em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 0;
    /*
    display: block;
    margin: 0;
*/
}
.iphone ul h6{
    margin-top: -14.5px;
    color: #ef5602;
    font-size: 11px
}
.iphone li:hover p{
    color: #6bf
}
/* end proudcts */
.main{
    clear: both
}
/* start iphone xs */
.about-iphone-xs, .iphone-xr{
    padding: 100px 0;
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    color: #FFF;
    background-color: #000;
}
.assets p{
    font-size: 48px; */
    line-height: 1.08365;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.head-p{
    padding: 0 26%
}
.assets h6{
    color: #ccc;
    font-size: larger
}
.assets p,h6{
    margin: 22px;
    padding: 0
}
.assets li{
    display: inline-block;
    color: #6bf
}
/* end xs section */
/*start xr section */
.iphone-xr{/*with xs*/
    border-top: 12px solId #111;
}
.iphone-xr::after{
    content: "";
    display: block;
    clear: both
}
/* end assets sections */
/* start genuration */
.genuration{
    width: 100%;
    height: 390px;
    background-image: url("../image/film_medium.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1168px 390px;
    text-align: center;
    margin: -21px 0;
    overflow: hidden;
/*    border: 21px solid #000;*/
    margin-top: 0;
    position: relative

}
.genuration-1{
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 14%;
    position: absolute;
}
.genuration-1::after{
    content: "";
    clear: both;
    display: block
}
.genuration-1 p{
    color: #fff;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
}
.genuration-1 h4{
    color: #fff;
    margin-top: 0
}
.genuration-1:hover{
    background: rgba(0,0,0,0.35);
    cursor: pointer
}
/*end genuration section*/
/*start compare section */
.compare{
    height: auto;
    background-color: #efefef;
    padding-top: 50px;
    position: relative
}
.comparer{
    width:  69% !important;
    padding: 34px 10px;
    margin-top: 50px
}
/*.compare*/ .container{
    background-color: #fff
}
.compare-img{
    left: 10px;
/*    position: absolute;;*/
    height: 100%
}
.compare-img img {
    padding-left: 30px;
    height: 316px   
}
.compare-models{
/*    position: absolute*/
    color: #111; */
    margin: 0;
    padding: 0
}
.compare-models p{
    height: 100px;
    width: 235.25px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 83px;
}
.compare-models a{
    font-size: 17px;
    font-weight: 600;
    margin-left: -22px;
}
.compare .models{
    float: right
}
.compare .img{
    float: left
}
/* end compare one*/                                                                  
/* start last two compars */
.trade{
    width:  100% !important;
    margin-top: 50px;
    
}
.trade-sec{
    width: 386px;
    height: 700px
}
.trade-row{
    background-color:  #efefef 
}





















@media screen and (max-width: 500px){
    .departments ul li{
        display: none
    }
    .vis{display: inline-block !important;
    width: 24.333333%;
    float: left;
    margin-left: 32px;
    text-align: center;
    }
    .iphone{
        overflow: hidden;
        height: auto;
        width: 100%;
        padding: 8px 0
    }
    .iphone ul li {
        width: 100px;
        margin-left: 0px;
        overflow: hidden;
        height: auto;
        margin-left: 0;
        display: inline-block;
        clear: both;
        float: none;
        margin-right: -17px;
        margin-bottom: -5px
    }
    .iphone ul{
        padding: 0;
        margin-left: 0
    }
    .compare-img img{
        padding: 0;
        margin-top: 50px
}
    .comparer{
        height: 435px;
        overflow: hidden

    }
    .compare-models a{
        margin-left: 0;
        
    }
}